$color--white: #ffffff;
$color--gray: #f1f1f1;
$color--dark-gray: #c7c7c7;
$color--devider: #ececec;
$color--devider-turquoise:#62d1ba;
$color--turquoise: #63d1bb;
$color--dark-turquoise: #56c3b2;
$color--light-turquoise: #62d1ba;

$color--font-dark: #010000;
$color--font-white: #ffffff;
$color--font-black: #000000;
$color--font-gray: #444444;
$color--font-turquoise:#63d1bb;

$size--font-xxx-large: 53px;
$size--font-xx-large: 43px;
$size--font-x-large: 27px;
$size--font-large: 25px;
$size--font-xxx-medium: 20px;
$size--font--xx-medium: 19px;
$size--font-x-medium: 18px;
$size--font-medium: 17px;
$size--font-small: 15px;
$size--font-x-small: 14px;
$size--font-xx-small: 13px;

$mobile-width-only: "max-width: 767px";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1150px";
