.about-us {
  margin: 0 30px 30px 30px;

}

.about-us__title {
  margin-bottom: 40px;
  font-size: $size--font-large;
  font-weight: bold;
  color: $color--font-black;

}

.about-us__item {
  display: block;
  margin-bottom: 40px;
  font-size: $size--font-medium;
  font-weight: bold;
  color: $color--font-black;

  &::before {
    content: '';
    display: block;
    position: relative;

  }

  &--flower {
    padding-right: 70px;

  }

  &--flower::before {
    width: 33px;
    height: 38px;
    background-image: url('../img/icon-feature-1.svg');
    background-repeat: no-repeat;
    bottom: 20px;

  }

  &--style {
    padding-right: 40px;

  }

  &--style::before {
    width: 47px;
    height: 28px;
    background-image: url('../img/icon-feature-3.svg');
    background-repeat: no-repeat;
    bottom: 20px;

  }

  &--heart {
    padding-right: 80px;

  }

  &--heart::before {
    width: 33px;
    height: 28px;
    background-image: url('../img/icon-feature-5.svg');
    background-repeat: no-repeat;
    bottom: 20px;

  }

  &--clew {
    padding-right: 50px;

  }

  &--clew::before {
    width: 35px;
    height: 35px;
    background-image: url('../img/icon-feature-2.svg');
    background-repeat: no-repeat;
    bottom: 20px;

  }

  &--rocket::before {
    width: 54px;
    height: 23px;
    background-image: url('../img/icon-feature-4.svg');
    background-repeat: no-repeat;
    bottom: 20px;

  }

  &--present {
    padding-right: 50px;

  }

  &--present::before {
    width: 33px;
    height: 33px;
    background-image: url('../img/icon-feature-6.svg');
    background-repeat: no-repeat;
    bottom: 20px;
  }

}

@media ($tablet-width) {
  .about-us {
    width: 768px;
    margin: 0;
    padding: 0 50px;

  }

  .about-us__title {
    margin-top: 85px;
    font-size: $size--font-xx-large;
    line-height: 50px;

  }

  .about-us__item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;

  }

  .about-us__item {
    width: 50%;
    font-size: $size--font-xxx-medium;
    line-height: 24px;

    &--flower {
      order: 1;
      padding-right: 110px;

    }
    &--style {
      order: 3;
      padding-right: 75px;

    }
    &--heart {
      order: 5;
      padding-right: 95px;

    }
    &--clew {
      order: 2;
      padding-right: 70px;

    }
    &--rocket {
      order: 4;

    }
    &--present {
      order: 6;

    }

  }
}

@media ($desktop-width) {
  .about-us {
    width: 1150px;
    padding-left: 170px;

  }

  .about-us__title {
    font-size: $size--font-xxx-large;
    line-height: 57px;

  }

  .about-us__item {
    width: 35%;

    &--flower {
      order: 1;
      padding-right: 100px;

    }
    &--style {
      order: 3;
      padding-right: 70px;

    }
    &--heart {
      order: 5;
      padding-right: 90px;

    }

    &--present {
      order: 6;
      padding-right: 80px;

    }

  }

}
