.add-basket {
  position: fixed;
  display: none;
  width: 100%;
  height: 340px;
  top: 50%;
  margin: 0 auto;
  background-color: $color--white;
  border-top: 1px solid $color--devider;
  transform: translateY(-50%);
  box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.4);
  z-index: 3;

}

.add-basket--show {
  display: block;

}

.add-basket__title {
  width: 152px;
  margin: 30px auto 20px;
  font-size: $size--font-large;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: $color--font-black;
  text-transform: uppercase;

}

.add-basket__text {
  display: block;
  margin-bottom: 30px;
  font-size: $size--font-small;
  line-height: 30px;
  text-align: center;
  color: $color--font-gray;

}

.add-basket__items {
  margin: 0 auto 30px;
  text-align: center;

}

.add-basket__item-name {
  display: inline-block;
  margin-right: 6px;

  &:last-child {
    margin-right: 0;

  }

}

.add-basket__item-input {
  display: none;

}

.add-basket__item-name-text {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 50px;
  font-size: $size--font-medium;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  color: $color--font-gray;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 78px;
    height: 50px;
    border: 2px solid $color--devider;

  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 78px;
    height: 50px;
    border: 2px solid $color--dark-turquoise;
    transform: scale(0);

  }

  &:hover::before {
    border-color: #c7c7c7;

  }

}

.add-basket__item-input:checked ~ .add-basket__item-name-text::after {
  transform: scale(1.0);

}

.add-basket__btn {
  display: block;
  margin: auto;
  text-align: center;
  background-color: $color--turquoise;
  color: $color--font-white;
  border: none;

}

@media ($tablet-width) {
  .add-basket {
    width: 568px;
    min-height: 336px;
    left: 13%;
    border: 1px solid $color--devider;

  }

  .add-basket__title {
    width: 100%;
    margin-left: 0;
    font-size: 30px;
    line-height: 57px;

  }

  .add-basket__text {
    font-size: $size--font-medium;
    line-height: 30px;

  }

  .add-basket__items {
    margin: 0 105px 30px 105px;

  }

  .add-basket__item-name {
    margin-right: 2px;

  }

  .add-basket__item-name-text {
    width: 112px;
    height: 52px;

    &::before {
      width: 110px;
      height: 50px;

    }

    &::after {
      width: 110px;
      height: 50px;

    }

  }

  .add-basket__btn {
    margin-left: 105px;
    width: 350px;

  }

}

@media ($desktop-width) {
  .add-basket {
    left: 33%;

  }

}
