.catalog-item {
  width: 260px;
  margin: 30px auto;
  border: 1px solid $color--devider;

  &:hover {
    box-shadow: 0 2px 35px -5px rgba(0, 0, 0, 0.5);
  }
  &:active {
    box-shadow: 0 1px 17px -5px rgba(0, 0, 0, 0.5);
  }

}

.catalog-item__back-picture {
  display: block;

}

.catalog-item__value {
  padding: 30px 30px 0 30px;
  @include clearfix;

}

.catalog-item__value-title {
  padding-bottom: 20px;
  font-size: $size--font-medium;
  font-weight: bold;

}

.catalog-item__value-title a {
  color: $color--font-dark;

  &:hover {
    color: #8d8d8d;

  }
  &:active {
    color: #cacaca;

  }

}

.catalog-item__value-parameters {
  padding-bottom: 30px;
  font-size: $size--font-xx-small;
  color: $color--font-gray;
  border-bottom: 1px solid $color--devider;

}

.catalog-item__value-price {
  display: block;
  float: left;
  padding: 15px 0 17px 0;
  font-size: $size--font-small;
  font-weight: bold;
  color: $color--font-black;

  &:hover {
    color: #8d8d8d;

  }
  &:active {
    color: #cacaca;

  }

}

.catalog-item__to-basket {
  display: block;
  float: right;
  margin-top: 15px;

}

.catalog-item__to-basket:hover svg path {
  fill: #63d1bb;

}

.catalog-item__to-basket:active svg path {
  fill: #d0f1ea;

}

@media ($tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto 55px auto;

  }

  .catalog-item__back-picture {
    width: 50%;

  }

  .catalog-item__value {
    width: 50%;
    min-height: 195px;
    padding: 0;

  }

  .catalog-item__value-title {
    margin: 25px 0 0 30px;
    padding: 0;
    padding-right: 70px;
    font-size: $size--font-xxx-medium;
    line-height: 24px;

  }

  .catalog-item__value-parameters {
    width: 270px;
    margin: 5px 0 0 30px;
    padding: 0 0 180px 0;
    font-size: $size--font-small;
    line-height: 30px;

  }

  .catalog-item__value-parameters--small-padding {
    padding-bottom: 155px;

  }

  .catalog-item__value-price {
    padding: 22px 0 0 30px;
    font-size: $size--font-medium;

  }

  .catalog-item__to-basket {
    margin: 20px 30px 0 0;

  }

}

@media ($desktop-width) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    width: 318px;
    margin: 0;

  }

  .catalog-item__back-picture {
    width: 100%;

  }

  .catalog-item__value {
    width: 100%;
    min-height: 195px;
    padding: 0;

  }

  .catalog-item__value-title {
    padding-right: 50px;

  }

  .catalog-item__value-parameters {
    padding-bottom: 42px;

  }

  .catalog-item__value-parameters--small-padding {
    padding-bottom: 18px;

  }

  .catalog-item__to-basket {
    margin: 20px 18px 0 0;

  }

}
