.contacts {
  width: 320px;
  margin: 0 auto;

}

.contacts__title {
  margin: 30px;
  font-size: $size--font-x-medium;
  font-weight: bold;
  color: $color--font-black;

}

.contacts__items {
  margin: 0 30px;
  padding: 0;
  font-size: $size--font-small;
  line-height: 30px;
  color: $color--font-gray;

}

.contacts__item-name {
  width: 77px;
  vertical-align: top;
  padding-bottom: 30px;

}

.contacts__item-value {
  padding-bottom: 30px;

}

.contacts__item-value a {
  border-bottom: 1px solid $color--devider-turquoise;
  padding-bottom: 5px;
  color: $color--font-gray;

  &:hover {
    color: #69caba;

  }

  &:active {
    color: #d9f0eb;
    border-bottom-color: #d9f0eb;

  }

}

.contacts__item-value--display {
  padding-right: 40px;

}

.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  background-image: url('../img/map-mobile@1x.jpg');
  background-repeat: no-repeat;

  //&::after {
  //  content: '';
  //  position: absolute;
  //  display: block;
  //  width: 66px;
  //  height: 101px;
  //  top: 165px;
  //  left: 123px;
  //  background-image: url('../img/icon-map-pin.svg');
  //  background-repeat: no-repeat;
  //
  //}

}

.contacts__write-us {
  display: block;
  margin: 40px 30px;

}

@media ($tablet-width) {

  .contacts {
    width: 768px;

  }

  .contacts__title {
    position: relative;
    margin: 0;
    margin-top: 90px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: $size--font-xx-large;
    line-height: 53px;

    &::after {
      content: "";
      position: absolute;
      background: url('../img/icon-flag.svg');
      width: 47px;
      height: 82px;
      top: -15px;
      right: 25px;

    }

  }

  .contacts__items {
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 0;
    font-size: $size--font-medium;

  }

  .contacts__item {
    display: inline-block;
    width: 50%;
    vertical-align: top;

  }

  .contacts__map {
    width: 100%;
    height: 457px;
    background-image: url('../img/map-tablet@1x.jpg');
    background-repeat: no-repeat;

  }

  .contacts__write-us {
    display: block;
    width: 230px;
    margin: 50px 270px;

  }

}

@media ($desktop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    padding-top: 150px;
    padding-left: 170px;
    padding-right: 50px;

  }

  .contacts__info-wrapper {
    width: 35%;

  }

  .contacts__title {
    margin-top: 45px;
    padding-left: 0;
    font-size: $size--font-xxx-large;
    line-height: 57px;

    &::after {
      left: -100px;

    }

  }

  .contacts__items {
    margin: 0;

  }

  .contacts__item {
    display: block;
    width: 350px;

  }

  .contacts__map {
    width: 525px;
    height: 457px;
    background-image: url('../img/map-desktop@1x.jpg');
    background-repeat: no-repeat;

  }

  .contacts__write-us {
    margin: -48px 0 110px 0;

  }

}
