.field-checkbox {
  display: block;
  margin-bottom: 35px;

}

.field-checkbox__input {
  display: none;

}

.field-checkbox__input:checked ~ .field-checkbox__name::after {
  transform: rotate(-45deg);

}

.field-checkbox__input:checked ~ .field-checkbox__name::before {
  border-color: $color--dark-gray;

}

.field-checkbox__name {
  display: block;
  position: relative;
  width: 200px;
  left: 60px;
  font-size: $size--font-medium;
  font-weight: bold;
  color: $color--font-black;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -62px;
    z-index: 1;
    width: 35px;
    height: 35px;
    border: solid 2px $color--font-gray;

  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -52px;
    width: 18px;
    height: 8px;
    border-left: 2px solid $color--font-black;
    border-bottom: 2px solid $color--font-black;
    transform: scale(0);

  }

}

@media ($tablet-width) {
  .field-checkbox {
    margin-bottom: 55px;
    margin-right: 100px;

  }

  .field-checkbox__name {
    width: 150px;
    left: 70px;
    font-size: $size--font--xx-medium;
    line-height: 18px;

    &::before {
      top: -16px;
      left: -90px;
      width: 50px;
      height: 50px;

    }

    &:hover::before {
      border-color: $color--light-turquoise;

    }

    &::after {
      top: 2px;
      left: -75px;
      width: 24px;
      height: 10px;

    }

  }

}

@media ($desktop-width) {
  .field-checkbox {
    margin-bottom: 0;

  }

}
