.field-textarea__input-wrap {
  display: block;
  margin-bottom: 10px;

}

.field-textarea__input {
  width: 260px;
  height: 140px;
  padding-top: 18px;
  padding-left: 15px;
  font-size: $size--font-medium;
  color: $color--font-gray;
  border: 2px solid $color--font-black;

}

.field-textarea__input:hover, .field-textarea__input:focus {
  outline: none;
  border: 2px solid $color--light-turquoise;

}

@media ($tablet-width) {
  .field-textarea {
    width: 487px;
    margin-right: 50px;

  }

  .field-textarea__input-wrap {
    margin: 0;

  }

  .field-textarea__input {
    width: 487px;

  }

}

@media ($desktop-width) {
  .field-textarea {
    width: 680px;
    margin: 0;

  }

  .field-textarea__input {
    width: 680px;

  }

}
