.field-text {
  display: block;
  margin-bottom: 25px;

}

.field-text__name {
  display: block;
  margin-bottom: 25px;
  font-size: $size--font-medium;
  font-weight: bold;
  color: $color--font-black;

}

.field-text__input-wrap {
  display: block;

}

.field-text__input {
  width: 260px;
  padding-bottom: 20px;
  font-size: $size--font-medium;
  color: $color--font-gray;
  border: none;
  border-bottom: 2px solid $color--font-black;

  &--picture-tel {
    background-image: url(../img/icon-phone-gray.svg);
    background-repeat: no-repeat;
    background-size: 25px 24px;
    background-position: right 0;

  }

  &--picture-email {
    background-image: url('../img/icon-mail-gray.svg');
    background-repeat: no-repeat;
    background-size: 25px 24px;
    background-position: right 0;

  }

}

.field-text__input--picture-tel:hover, .field-text__input--picture-tel:focus {
  background-image: url('../img/icon-phone-green.svg');

}

.field-text__input--picture-email:hover, .field-text__input--picture-email:focus {
  background-image: url('../img/icon-mail-green.svg');

}

.field-text__input:hover, .field-text__input:focus {
  outline: none;
  border-bottom: 2px solid $color--light-turquoise;

}

@media ($tablet-width) {
  .field-text {
    width: 538px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 0 0;

  }

  .field-text__name {
    margin: 0 25px 60px -15px;
    font-size: $size--font--xx-medium;
    line-height: 18px;

  }

  .field-text__input {
    min-width: 374px;
    padding: 0 0 12px 20px;
    font-size: $size--font--xx-medium;
    line-height: 18px;

  }

  .field-text__input--long {
    width: 428px;

  }

  .field-text__input--picture-tel {
    width: 487px;
    background-color: $color--gray;
    background-position: 95% 0;

  }

  .field-text__input--picture-email {
    width: 487px;
    background-color: $color--gray;
    background-position: 95% 0;

  }

}

@media ($desktop-width) {
  .field-text__input {
    min-width: 570px;

  }

  .field-text__input--long {
    width: 620px;

  }

  .field-text__input--picture-tel {
    width: 680px;
    background-position: right 0;

  }

  .field-text__input--picture-email {
    width: 680px;
    background-position: right 0;

  }

}
