.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;

}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: -52px;
  right: 30px;
  display: block;
  width: 20px;
  height: 14px;
  background-image: url('../img/icon-menu-open.svg');
  background-repeat: no-repeat;

}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: -55px;
  right: 30px;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url('../img/icon-menu-close.svg');
  background-repeat: no-repeat;

}

.main-nav__list, .main-nav__user-list, .main-nav__desktop-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.main-nav__item, .main-nav__user-item, .main-nav__desktop-item {
  display: block;
  height: 80px;
  padding-top: 25px;
  padding-left: 80px;
  border-bottom: 1px solid $color--devider;

}

.main-nav__item a, .main-nav__user-item a, .main-nav__desktop-item a {
  font-size: $size--font-medium;
  line-height: 24px;
  font-weight: bold;
  color: $color--font-black;

  &:hover {
    color: #8d8d8d

  }

  &:active {
    color: #cacaca;

  }

}

.main-nav__user-item--search a {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url('../img/icon-search-gray.svg');
    background-repeat: no-repeat;
    top: 3px;
    left: -50px;

  }

  &:hover::before {
    background-image: url('../img/icon-search-green.svg');

  }

  &:active::before {
    background-image: url('../img/icon-search-light-green.svg');

  }

}

.main-nav__user-item--basket a {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 19px;
    background-image: url('../img/icon-cart-gray.svg');
    background-repeat: no-repeat;
    top: 3px;
    left: -50px;

  }

  &:hover::before {
    background-image: url('../img/icon-cart-green.svg');

  }

  &:active::before {
    background-image: url('../img/icon-cart-light-green.svg');

  }

}

@media ($mobile-width-only) {
  .main-nav__desktop-list {
    display: none;

  }

  .main-nav--closed .main-nav__item {
    display: none;

  }

  .main-nav--closed .main-nav__user-item {
    display: none;

  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 319px;
    background-color: $color--white;

  }

  .main-nav--nojs .main-nav__toggle {
    position: absolute;
    top: -55px;
    right: 30px;
    display: block;
    width: 21px;
    height: 21px;
    background-image: url('../img/icon-menu-close.svg');
    background-repeat: no-repeat;

  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;

  }

  .main-nav--nojs .main-nav__item {
    display: block;

  }

  .main-nav--nojs .main-nav__user-item {
    display: block;

  }

}

@media ($tablet-width) {
  .main-nav, .main-nav--closed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 90px;

  }

  .main-nav {
    width: auto;
    margin: 0;

  }

  .main-nav__toggle {
    display: none;

  }

  .main-nav__desktop-list {
    display: none;

  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .main-nav__list {
    position: absolute;
    order: 2;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;
    left: -318px;
    top: 110px;

  }

  .main-nav__user-list {
    order: 1;
    display: flex;
    flex-direction: row;
    height: 90px;
    margin: 0;
    padding: 0;

  }

  .main-nav__item, .main-nav__user-item, .main-nav__desktop-item {
    min-height: 90px;
    border: none;
    padding: 0;

  }

  .main-nav__item {
    padding-right: 35px;

  }

  .main-nav__item a {
    font-size: $size--font-small;

  }

  .main-nav__user-item--search {
    width: 84px;
    border: 1px solid $color--devider;
    border-top: none;

  }

  .main-nav__user-item--search a {
    font-size: 0;

    &::before {
      top: 19px;
      left: 32px;

    }

  }

  .main-nav__user-item--basket {
    width: 314px;
    border-bottom: 1px solid $color--devider;
    text-align: right;
    padding: 32px 50px 0 34px;

  }

}

@media ($desktop-width) {
  .main-nav {
    order: 1;

  }

  .main-nav__desktop-list {
    display: block;

  }

  .main-nav__list {
    position: static;
    order: 1;
    display: flex;
    flex-direction: row;
    width: 750px;
    margin: 0;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid $color--devider;

  }

  .main-nav__user-list {
    order: 3;
    display: flex;
    flex-direction: row;
    height: 90px;
    margin: 0;
    padding: 0;

  }

  .main-nav__item {
    padding: 0;

    &:nth-child(1) {
      width: 235px;
      padding: 32px 0 0 50px;
      border-right: 1px solid $color--devider;

    }

    &:nth-child(2) {
      width: 515px;
      padding: 32px 0 0 33px;

    }

  }

  .main-nav__item a {
    font-size: $size--font-medium;

  }

  .main-nav__desktop-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 110px;
    left: 50px;

  }

  .main-nav__desktop-item {
    padding-right: 60px;

  }

  .main-nav__desktop-list a {
    font-size: $size--font-small;

  }

}
