.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: $color--gray;

}

.page-footer__logo {
  display: none;

}

.page-footer__logo svg {

  &:hover {
    fill: #46c1ae;

  }

  &:active {
    fill: #bde3dd;

  }
}

.page-footer__social {
  height: 80px;
  padding: 30px;

}

.page-footer__copyright {
  height: 80px;
  padding: 30px;
  @include clearfix;

}

.page-footer__copyright-title {
  display: inline-block;
  font-size: $size--font--xx-medium;
  font-weight: bold;
  color: $color--font-black;

  &:active {
  color: #c3c3c3;

  }

}

.page-footer__copyright-link {
  display: inline-block;
  float: right;
  padding-right: 35px;

}

.page-footer__copyright-link svg path {

  &:hover {
    fill: #46c1ae;

  }

  &:active {
    fill: #bde3dd;

  }

}

@media ($tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    height: 142px;
    margin: 0 auto;
    padding: 0 50px;
    background-color: $color--gray;

  }

  .page-footer__logo {
    display: inline-block;
    padding-right: 70px;
    vertical-align: top;

    &:hover {
      fill: #46c1ae;

    }

    &:active {
      fill: #bde3dd;

    }

  }

  .page-footer__social {
    height: 34px;
    padding: 0;

  }

  .page-footer__copyright {
    height: 34px;
    padding: 0;

  }

  .page-footer__copyright-title {
    padding-right: 30px;

  }

  .page-footer__copyright-link {
    padding-right: 0;

  }

}

@media ($desktop-width) {
  .page-footer {
    width: 1150px;

  }

}
