.production-process {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 60px;
  border: 1px solid $color--devider;

  &:hover {
    box-shadow: 0 2px 35px -5px rgba(0, 0, 0, 0.5);
  }
  &:active {
    box-shadow: 0 1px 17px -5px rgba(0, 0, 0, 0.5);
  }

}

.production-process__title {
  margin-left: 30px;
  padding: 30px 30px 30px 55px;
  font-size: $size--font-medium;
  font-weight: bold;
  color: $color--font-black;
  background-image: url('../img/icon-video.svg');
  background-repeat: no-repeat;
  background-position: center left;

}

.production-process__video {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 101px;
    height: 77px;
    top: 40px;
    left: 78px;
    background-image: url('../img/icon-play.svg');
    background-repeat: no-repeat;

  }

  &:hover::before {
    width: 121px;
    height: 92px;
    background-size: 121px 92px;
    top: 32px;
    left: 68px;

  }

  &:active::before {
    width: 81px;
    height: 62px;
    background-size: 81px 62px;
    top: 50px;
    left: 90px;
    opacity: 0.5;

  }

}

.production-process__text {
  padding: 30px;
  font-size: $size--font-xx-small;
  color: $color--font-gray;

}

.production-process__order {
  display: block;
  margin: 0 30px 30px 30px;
  padding: 12px 0;
  font-size: $size--font-medium;
  font-weight: bold;
  text-align: center;
  color: $color--font-gray;
  text-transform: uppercase;
  border: 2px solid $color--font-gray;

  &:hover {
    background-color: #444444;
    color: $color--white;

  }

  &:active {
    background-color: #444444;
    color: #8d8d8d;

  }

}

@media ($tablet-width) {
  .production-process {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 50px 65px;

  }

  .production-process__title {
    order: 2;
    margin: 0;
    padding: 40px 0 35px 100px;
    font-size: $size--font-xxx-medium;
    line-height: 24px;
    background-position: 7%;

  }

  .production-process__video {
    order: 1;

    &::before {
      top: 195px;
      left: 285px;

    }

    &:hover::before {
      top: 185px;
      left: 280px;

    }

    &:active::before {
      top: 205px;
      left: 300px;

    }

  }

  .production-process__text {
    order: 3;
    margin: 0;
    padding:0 45px 45px;
    font-size: $size--font-small;
    line-height: 30px;

  }

  .production-process__order {
    order: 4;
    display: block;
    margin: 0 45px 45px;
    padding: 12px 0;


  }

}

@media ($desktop-width) {
  .production-process {
    flex-direction: column;
    flex-wrap: wrap;
    width: 1050px;
    height: 455px;
    margin: 0 50px 105px;

  }

  .production-process__title {
    width: 230px;
    margin: 40px 0 30px 0;
    padding: 60px 0 0 0;
    background-position: 1% top;

  }

  .production-process__video {
    width: 679px;
    height: 455px;

    &::before {
      top: 192px;
      left: 295px;

    }

    &:hover::before {
      top: 185px;
      left: 290px;

    }

    &:active::before {
      top: 200px;
      left: 305px;

    }

  }

  .production-process__text {
    width: 230px;
    margin: 0 0 45px 0;
    padding: 0;

  }

  .production-process__order {
    width: 230px;
    margin: 0;

  }

}
