.product-of-week {
  position: relative;
  padding: 0 30px 30px 30px;

  &::after {
    content: "";
    position: absolute;
    background: url('../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
    background-size: 320px 7px;
    width: 100vw;
    height: 23px;
    bottom: -4px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);

  }

}

.product-of-week__title {
  margin-bottom: 10px;
  font-size: $size--font-large;
  font-weight: bold;
  color: $color--font-black;

}

.product-of-week__lable {
  display: block;
  padding-bottom: 10px;
  font-size: $size--font-medium;
  font-weight: bold;
  color: $color--font-turquoise;
  text-transform: uppercase;

}

.product-of-week__info {
  margin-bottom: 20px;
  font-size: $size--font-small;
  color: $color--font-gray;

}

.product-of-week__parameters {
  width: 260px;
  margin-bottom: 30px;
  font-size: $size--font-small;
  color: $color--font-gray;
  border-collapse: collapse;

}

.product-of-week__parameter {
  border-bottom: 1px solid $color--devider;
  padding-top: 10px;
  padding-bottom: 10px;

}

.product-of-week__parameter-name {
  border-bottom: 1px solid $color--devider;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;

}

.product-of-week__picture {
  display: block;
  margin-bottom: 25px;

}

.product-of-week__price {
  margin-bottom: 25px;
  font-size: $size--font-medium;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: $color--font-gray;

}

.product-of-week__order {
  margin-bottom: 35px;

}

@media ($tablet-width) {
  .product-of-week {
    position: relative;
    width: 768px;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      background: url('../img/bg-zigzag-line.svg');
      background-repeat: repeat-x;
      background-size: 768px 16px;
      width: 100vw;
      height: 23px;
      left: 50%;
      right: 0;
      bottom: -40px;
      transform: translateX(-50%);

    }

  }

  .product-of-week__header {
    display: flex;
    flex-direction: row;
    margin: 30px 50px;

  }

  .product-of-week__title {
    display: inline-block;
    min-width: 500px;
    margin: 0;
    padding: 0;
    font-size: $size--font-xx-large;
    line-height: 50px;
    vertical-align: middle;

  }

  .product-of-week__lable {
    display: inline-block;
    width: 100px;
    margin: 14px 20px 0 45px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;

  }

  .product-of-week__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 50px;

  }

  .product-of-week__main-wrapper {
    width: 50%;

  }

  .product-of-week__info {
    width: 290px;
    margin-bottom: 40px;
    font-size: $size--font-medium;
    line-height: 30px;

  }

  .product-of-week__parameters {
    width: 290px;
    margin: 0;

  }

  .product-of-week__photo-wrapper {
    width: 333px;
    height: 404px;

  }

  .product-of-week__picture {
    margin-top: 26px;

  }

  .product-of-week__order-wrapper {
    width: 50%;
    margin-top: -75px;

  }

  .product-of-week__price {
    width: 290px;

  }

  .product-of-week__order {
    width: 290px;

  }

}

@media ($desktop-width) {
  .product-of-week {
    position: relative;
    width: 1150px;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      background: url('../img/bg-zigzag-line.svg');
      background-repeat: repeat-x;
      background-size: 1150px 23px;
      width: 100vw;
      height: 23px;
      left: 50%;
      right: 0;
      bottom: -60px;
      transform: translate(-50%);

    }

  }

  .product-of-week__header {
    position: absolute;
    margin: 110px 0 0 0;

  }

  .product-of-week__title {
    order: 2;
    font-size: $size--font-xxx-large;
    line-height: 57px;

  }

  .product-of-week__lable {
    order: 1;

  }

  .product-of-week__main {
    margin: 0;

  }

  .product-of-week__main-wrapper {
    width: 32%;
    margin-top: 200px;
    margin-left: 170px;

  }

  .product-of-week__info {
    margin-bottom: 40px;

  }

  .product-of-week__photo-wrapper {
    width: 525px;
    height: 636px;

  }

  .product-of-week__picture {
    margin-top: 60px;
    margin-left: 36px;

  }

  .product-of-week__order-wrapper {
    width: 32%;
    margin-top: -42px;
    margin-left: 170px;

  }

}
