.product-types {
  width: 320px;
  margin-top: 95px;
  padding: 0;
  list-style: none;

}

.product-types a {
  color: $color--font-white;

}


.product-types__item {
  padding: 30px;
  font-size: $size--font--xx-medium;
  font-weight: bold;

  &--home-furnishings {
    background-color: $color--turquoise;
    background-image: url('../img/icon-interior.svg');
    background-repeat: no-repeat;
    background-size: 40px 63px;
    background-position: 87%;

    &:hover {
      background-color: #59d5bc;

    }

  }

  &--home-furnishings:hover {
    background-image: url('../img/icon-interior-hover.svg');

  }

  &--home-furnishings:active {
    background-image: url('../img/icon-interior-active.svg');
    color: #97e2d2;

  }

  &--kids-toys {
    background-color: $color--dark-turquoise;
    background-image: url('../img/icon-toy.svg');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: 90%;

    &:hover {
      background-color: #46c1ae;

    }

  }

  &--kids-toys:hover {
    background-image: url('../img/icon-toy-hover.svg');

  }

  &--kids-toys:active {
    background-image: url('../img/icon-toy-active.svg');
    color: #8dd5c9;

  }

}

@media ($tablet-width) {
  .product-types {
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: 0;
    padding: 0 50px;

  }

  .product-types__item {
    width: 335px;
    min-height: 120px;

    &--home-furnishings {
      background-position: 88%;

    }

    &--kids-toys {
      background-position: 88%;

    }

    &:hover {
      min-height: 125px;
      margin-top: -5px;

    }

  }

}

@media ($desktop-width) {
  .product-types {
    width: 1150px;

  }

  .product-types__item {
    width: 525px;

    &--home-furnishings {
      background-position: 92%;

    }

    &--kids-toys {
      background-position: 92%;

    }

  }

}
