.reviews {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;

  &::after {
    content: "";
    position: absolute;
    background: url('../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
    background-size: 320px 7px;
    width: 100vw;
    height: 23px;
    bottom: -20px;
    left: 50%;
    right: 0;
    transform: translate(-50%);

  }

}

.reviews__title {
  margin-bottom: 30px;
  font-size: $size--font-large;
  font-weight: bold;
  color: $color--font-black;

}

.reviews__items {
  width: 260px;
  margin-bottom: 15px;

}

.reviews__item {
  margin: 0;
  padding: 0;
  font-size: $size--font-small;
  line-height: 30px;
  color: $color--font-gray;

}

.reviews__author-name {
  display: block;
  margin-top: 25px;
  font-size: $size--font-x-medium;
  font-weight: bold;
  color: $color--font-black;
  font-style: normal;

}

.reviews__auhor-mail {
  display: block;
  font-size: $size--font-x-medium;
  color: $color--font-gray;
}

.reviews__switch {
  width: 260px;
  margin-bottom: 20px;
  @include clearfix;
  font-size: 0;

  &--left {
    display: block;
    float: left;
    width: 130px;
    height: 50px;
    background-image: url('../img/icon-left-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ececec;
    border-right: none;

  }

  &--left:hover {
    background-image: url('../img/icon-left-arrow-hover.svg');

  }

  &--left:active {
    background-image: url('../img/icon-left-arrow-active.svg');

  }

  &--right {
    display: block;
    float: left;
    width: 130px;
    height: 50px;
    background-image: url('../img/icon-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ececec;
    clear: right;

  }

  &--right:hover {
    background-image: url('../img/icon-right-arrow-hover.svg');

  }

  &--right:active {
    background-image: url('../img/icon-right-arrow-active.svg');

  }

}

.reviews__write {
  margin-bottom: 40px;

}

@media ($tablet-width) {
  .reviews {
    position: relative;
    width: 768px;
    min-height: 457px;
    margin: 0;
    padding: 30px 50px 55px 50px;
    background-image: url('../img/review@1x.jpg');
    background-repeat: no-repeat;
    background-size: 350px 457px;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: 768px 16px;
      width: 100vw;
      height: 23px;
      bottom: -35px;
      left: 50%;
      right: 0;
      transform: translate(-50%);

    }

  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url('../img/review@2x.jpg');
      background-repeat: no-repeat;
    }

  }

  .reviews__items {
    width: 650px;
    margin: 0;

  }

  .reviews__item {
    font-size: $size--font-medium;
    line-height: 30px;

  }

  .reviews__title {
    font-size: $size--font-xx-large;
    line-height: 50px;
    margin-bottom: 55px;

  }

  .reviews__author-name {
    margin-top: 60px;

  }

  .reviews__wrapper {
    position: absolute;
    right: 50px;
    bottom: 120px;

  }

  .reviews__switch {
    width: 135px;
    margin: 0;
    font-size: 0;
    @include clearfix;

    &--left {
      display: block;
      width: 50px;
      float: left;
      border: none;

    }

    &--right {
      display: block;
      width: 50px;
      float: right;
      border: none;

    }

  }

  .reviews__write {
    position: absolute;
    width: 175px;
    margin: 0;
    top: 65px;
    right: 25px;

  }

}

@media ($desktop-width) {
  .reviews {
    width: 1150px;
    margin-bottom: 35px;
    padding-left: 170px;

    &::after {
      background-size: 1150px 23px;
      width: 99.2vw;
      bottom: -100px;

    }

  }

  .reviews__title {
    font-size: $size--font-xxx-large;
    line-height: 53px;
    margin-bottom: 50px;

  }

  .reviews__items {
    width: 765px;

  }

  .reviews__author-name {
    margin-top: 40px;

  }

  .reviews__wrapper {
    bottom: 100px;

  }

  .reviews__write {
    top: 70px;
    right: 50px;

  }

}
