.social-link {
  display: inline-block;

  &--instagram  {
    padding-right: 40px;

  }

  &--facebook {
    padding-right: 40px;

  }

}

.social-link svg path{

  &:hover {
    fill: #46c1ae;

  }

  &:active {
    fill: #bde3dd;

  }

}
